          
            

            <section class="header-11-sub bg-midnight-blue">
                <div class="background" id="div-background">
                    &nbsp;
                </div>
                <div class="container" style="">    
                    <div class="row" >
                    
                        <div class="col-sm-4">
                            
                            <h4 style="color: white">
                                Ezjones Constructions Real-time And Centralized Warehouse Management System
                             </h4>
                                
                            <div class="signup-form">
                                <form id="form-login">
                                    
                                    <div class="form-group">
                                        <div style="margin-bottom: 9px">
                                            <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
                                        </div>
                                        <div>
                                            <input type="password" name="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-info">Sign In</button>
                                    </div>
                                    <div id="output-login"></div>
                                </form>
                            </div>
                            <div class="additional-links">
                                <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                            
                        </div>
                    </div>
                </div>
            </section>
