        <div class="row" style="margin-top: 30px">
                <div>
                    <div class="panel panel-default" id="panel-account">
                        <div class="panel-heading">
                            Accounts
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab" id="li-create">Create</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab" id="li-records">Records</a>
                                </li>
                               
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <!-- <h4 class="text-info">Create new account</h4> -->
                                    <hr>
                                    <div id="form-create-account"></div>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <!-- <h4>Record list</h4> -->
                                   <div id="table-records-account"></div>
                                </div>
                               
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
               
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->

    <div>
    <div id="placeholder-modal-choose-warehousement-bl"></div>
    </div>