      <form class="form-group" id="form-add-account">
           <input type="hidden" name="hiddenid" id="hidden-id" value="">
           <label>Firstname
                 <input type="text" class="form-control" id="firstname" name="firstname" autofocus>
           </label>
           <label>Lastname
                 <input type="text" class="form-control" id="lastname" name="lastname">
           </label>
           <label>Username
                 <input type="text" class="form-control" id="username" name="username">
           </label><br/>
           
           <label>Password
                 <input type="password" class="form-control" id="password" name="password">
           </label>

           <label>Confirm password
                 <input type="password" class="form-control" id="password" name="confirm_password">
           </label>
       
           <input type="hidden" name="usertype" id="usertype" value="2">
             <label>Email
                 <input type="text" class="form-control" id="email" name="email">
           </label>
           <br/>
                 <input type="checkbox" id="check-confirm-password" style="margin-left: -130px">
           <span style="margin-left: -140px">show password</span>
           <br/>
           <button class="btn btn-primary" type="reset" >Reset</button>
           <button class="btn btn-primary" id="btnSaveAccount" type="submit">Save</button>
           <button class="btn btn-primary" id="btnUpdateAccount" type="submit">Update</button>
           <div id="output-save-account"></div>
           <div id="output-update-account"></div>
     </form>