                            <div class="modal fade" id="modalTableDeliverItems" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" id="div-modalTabeDeliverItems" style="width: 800px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body" id="print-delivery">

                                          <div id="division-modal" >
                                          
                                              <div id="ezjones-image" style="position: absolute; margin-top: 0px">
                                                 <img src="bootstrap/docs/ez.png" style="width: 80px; height: 80px">
                                              </div>   
                                              <div style="margin-left: 90px">
                                                 <p  style="font-size: 18px; font-family: Harabara" id="ezjones">Ezjones Construction, Inc.</p>
                                                 <p style="font-size: 12px; margin-top: -8px; font-style: calibri" >Sitio Buchasan, Brgy. Cawayan<br/>
                                                 Catarman N. Samar</p>
                                              </div>
                                              <div class="pull-right" style="margin-top: -30px; border: 2px solid black; padding: 10px; width: 30%">
                                                 <center style="font-size: 15px; font-style: calibri"><b>D.R No.<br/>
                                                 <span style="font-size: 10px" id="rr-no" class="text-danger"></span></b></center
                                              </div>
                                          </div><br/>

                                            <div >
                                               <div id="specific-name" style="display:inline-block; vertical-align:top; border: 2px solid red; border-radius: 2px; width: 150px; height: 20px; margin-bottom: 7px; text-align: center"></div>
                                               <div style="display:inline-block; vertical-align:top;"><h5 style="font-size: 18px; font-weight: bolder; font-style: calibr; margin-left: 100px">DELIVERY RECEIPT</h5></div>
                                            </div>
                                            <table border="1" style="font-size: 12px; width: 100%">
                                               <tr>
                                                   <th width="100">Date Issued</th>
                                                   <td id="date-issued">-</td>
                                                   <th width="100">Time Issued</th>
                                                   <td id="time-issued">-</td>
                                               </tr>
                                               <tr>
                                                   <th width="130">From (Location)</th>
                                                   <td colspan="3" id="from-location">-</td>
                                               </tr>  
                                               <tr>
                                                   <th width="100">To (Person)</th>
                                                   <td id="to-person">-</td>
                                                   <th width="100">To (Location)</th>
                                                   <td id="to-location">-</td>
                                               </tr>  
                                            </table>

                                            <table border="1" style="font-size: 12px; width: 100%; margin-top: 10px">
                                               <thead>
                                                   <tr>
                                                       <th style="text-align: center">Qty</th>
                                                       <th style="text-align: center">Unit</th>
                                                       <th style="text-align: center">Item Description</th>
                                                       <th style="text-align: center">Remarks/Purpose</th>
                                                       <th style="text-align: center">Stock ID</th>
                                                   </tr>
                                               </thead>
                                               <tbody id="list-of-delivered-items-by-id"></tbody>
                                            </table>

                                            <table border="1" style="width: 100%; margin-top: 10px">
                                                <tr>
                                                    <th width="120" class="text-center">
                                                       Prepared by<br>
                                                       <span>(Name & Signature)</span>
                                                    </th>
                                                    <td id="prepared-by"></td>
                                                    <th class="text-center" width="120">
                                                       Delivered by<br>
                                                       <span>(Name & Signature)</span>
                                                    </th>
                                                    <td id="delivered-by"></td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center" width="120">Received By<br><span>(Name & Signature)</span></th>
                                                    <td id="receive-by" colspan="3"></td>
                                                </tr>
                                            </table>  

                                            <div id="slip-footer"></div>
 

                                             <div style="page-break-before: always"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary" type="button" id="printDR"><i class="fa fa-print"></i> 1 copy</button>
                                            <button class="btn btn-primary" type="button" id="printCopies"><i class="fa fa-print"></i> 4 copies</button>
                                            <!-- <button type="button" class="btn btn-primary" id="btnPrintDeliveryReceipt"><span class="glyphicon glyphicon-print" ></span> Print</button> -->
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>