                            <div class="modal fade" id="modalUpdateToolPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 300px" id="div-modalUpdateToolPhoto">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Choose file</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span id="update-tool-photo" class="text-primary" style="font-weight: bolder">upload photo</span>
                                        </div>
                                        <div class="modal-footer">
                                           <input type="hidden" id="hidden-id">
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>