                            
                            <div class="input-group" >
                                 <span class="input-group-btn">
                                     <button class="btn btn-default" type="button">From</button>
                                 </span>
                              <input type="text" class="form-control" style="width: 200px" id="from">
                            </div><!-- /input-group -->
                             
                             <div class="input-group" style="position: absolute; margin-left: 270px; margin-top: -33.7px">
                                 <span class="input-group-btn">
                                     <button class="btn btn-default" type="button">To  &nbsp;&nbsp;&nbsp;&nbsp;</button>
                                 </span>

                              <input type="text" class="form-control" style="width: 200px" id="to">

                            </div><!-- /input-group -->

                            <button class="btn btn-sm btn-info" style="position: absolute; margin-left: 540px; margin-top: -33px" id="reset">reset</button>
                          