<div style="margin-top: 20px; overflow: auto">
    <table class="table table-hover table-bordered table-condensed" id="table-withdraw-history">
        <thead>
             <tr>
                 <th>Qty</th>
                 <th>W.S.No.</th>
                 <th>Requested by</th>
                 <th>Issued by</th>
                 <th>Date</th>
                 <th>Time</th>
                 <th>TIme from now</th>
             </tr>
        </thead>
        <tbody id="list-of-withdraw-history"></tbody>
    </table>
</div>