        <hr/><br><div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                    
                        <div class="panel-heading">
                            <b><span id="item-name"></span></b> History (Withdrawal/Receiving)
                            <a id="print-report" style="cursor: pointer" class="pull-right"><i class="fa fa-print"></i> Report</a>
                        </div>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">Receive</a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab">Withdraw</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div class="tab-pane fade in active" id="home-pills">
                                    <div id="receive-history-item"></div>
                                </div>

                                <div class="tab-pane fade" id="profile-pills">
                                    <div id="withdraw-history-item"></div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>

            <div id="placeholder-receive-withdraw-report"></div>    
        <!-- /.row -->

    