                        <div class="modal fade" id="modalItemSetting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" id="div-modalItemSetting">
                                    <div class="modal-content">
                                                            
                                                                <div class="panel panel-info">
                                                                    <div class="panel-heading text-left">
                                                                        Stock Card attributes
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    </div>
                                                                    <!-- /.panel-heading -->
                                                                    <div class="panel-body">
                                                                        <!-- Nav tabs -->
                                                                        <ul class="nav nav-tabs">
                                                                            <li class="active"><a href="#home" data-toggle="tab">Area</a>
                                                                            </li>
                                                                            <li><a href="#profile" data-toggle="tab">Row</a>
                                                                            </li>
                                                                            <li><a href="#messages" data-toggle="tab">Shelf</a>
                                                                            </li>
                                                                            <li><a href="#settings" data-toggle="tab">Categories</a>
                                                                            </li>
                                                                        </ul>
                                            
                                                                        <!-- Tab panes -->
                                                                        <div class="tab-content">
                                                                            <div class="tab-pane fade in active" id="home">
                                                                            <h4 class="page-header">Item area list</h4>
                                                                                <div id="form-tool-area">form-area</div>
                                                                                <table class="table table-hover table-bordered table-condensed">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Area name</th>
                                                                                            <th>Date created</th>
                                                                                            <th>User</th>
                                                                                            <th width="1"></th>
                                                                                        </tr>
                                                                                    </thead>

                                                                                    <tbody id="list-of-item-areas"></tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="tab-pane fade" id="profile">
                                                                            <h4 class="page-header">Item row list</h4>
                                                                                <div id="form-tool-row">form-row</div>
                                                                                <table class="table table-hover table-bordered table-condensed">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Row name</th>
                                                                                            <th>Date created</th>
                                                                                            <th>User</th>
                                                                                            <th width="1"></th>
                                                                                        </tr>
                                                                                    </thead>

                                                                                    <tbody id="list-of-item-rows"></tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="tab-pane fade" id="messages">
                                                                            <h4 class="page-header">Item shelf list</h4>
                                                                                <div id="form-tool-shelf">form-shelf</div>
                                                                                <table class="table table-hover table-bordered table-condensed">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Shelf name</th>
                                                                                            <th>Date created</th>
                                                                                            <th>User</th>
                                                                                            <th width="1"></th>
                                                                                        </tr>
                                                                                    </thead>

                                                                                    <tbody id="list-of-item-shelfs"></tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="tab-pane fade" id="settings">
                                                                                <div id="categories-table">table here</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.panel-body -->
                                                                </div>
                                     
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>