<!-- <h1 class="page-header"><small class="text-primary">Manage category</small></h1>   -->
                       <div class="panel-heading" style="margin-top: -20px">
                         
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                             <h4 class="page-header" style="margin-top: 0px"><small class="text-primary">Category list</small></h4>    
                            

                            <!-- Tab panes -->
                            <div class="tab-content">

                              <form id="form-category">
                                   <label style="margin-top: 20px">Showing <span id="no-rs"></span> result/s</label>
                                        <div class="form-group input-group pull-right" style="width: 250px; margin-top: 20px">
                                            <input id="search-category" name="name" placeholder="Category name" type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">Save</i>
                                                </button>
                                            </span>
                                        </div>
                              </form>  
                               
                            <div class="table-responsive" style="overflow: auto; height: 400px; margin-top: 30px">
                                
                                <table class="table table-condensed table-hover table-striped table-bordered" id="table-categories" style="font-size: 12px">
                                    <thead>
                                        <tr id="tr-categories" style="cursor: pointer">
                                            <th width="1"><input type="checkbox" id="check-all-category" data-toggle="tooltip" data-placement="left" title="Select all"/></th>
                                           
                                            <th id="tr-name" class="text-primary">Category name</th>
                                            <th class="text-primary" width="1"><small>edit</small></th>
                                        </tr>
                                    </thead>
                                    <tbody id="list-of-categories">
                                       <tr>
                                            <td>asdf</td>
                                            <td>asdf</td>
                                       </tr>
                                    </tbody>
                                </table>
                            </div>
                                
                                
                                <div class="tab-pane fade" id="profile">
                                    <div id="subview-form-category"></div>    
                                </div>
                                                  
                            </div>
                           

                        </div>
                          