
                            <div class="modal fade" id="modalWithDrawItemTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" id="div-modalWithDrawItemTable" style="width: 800px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                      
                                        </div>
                                        <div class="modal-body" id="myDivToPrint" style="font-size: 12px">

                                          <div id="image-table-withdrawitems" style="margin-top: 40px">
                                              
                                          </div>

                                          <div style="float: left; width: 30%; 
                                               margin-top: -70px; border: 2px solid black; 
                                               padding: 5px; font-size: 11px" 
                                               class="pull-right text-center">
                                                <center 
                                                style="font-size: 12px; 
                                                font-style: calibri;
                                                font-weight: bolder;" >W.S No.</center>
                                                <p
                                                style="font-size: 10px;
                                                font-style: calibri;" id="no"></p>
                                           </div>
                                          <h5 class="text-center" 
                                          style="font-style: calibri;
                                          font-weight: bolder;
                                          ">WITHDRAWAL SLIP</h5>
                                          
                                            <table border="1px" style="width: 100%">
                                                <tr>
                                                    <th width="60">&nbsp;&nbsp;Date</th>
                                                    <td id="date-issued" colspan="">-</td>
                                                    
                                                </tr>  
                                                <tr>
                                                    <!-- 
                                                      <th width="100">Linked to</th>
                                                      <td id="linked-to" width="400" colspan="3">-</td>
                                                    -->
                                                    <th width="60">&nbsp;&nbsp;Time</th>
                                                    <td id="time-issued" colspan="">-</td> 
                                                </tr>
                                            </table>
                                            <br>
                                            <table border="1px" style="width: 100%"> 
                                                 <thead>
                                                 <tr>
                                                    <th class="text-center">Qty</th>
                                                    <th class="text-center">Unit</th>
                                                    <th class="text-center">Item Description</th>
                                                    <th class="text-center">Remarks/Purpose</th>
                                                    <th class="text-center">Stock ID</th>
                                                 </tr>
                                                 </thead>
                                                 <tbody id="list-of-withdrawitem"></tbody>
                                            </table>

                                            
                                    <table border="1px"
                                        style="margin-top: 10px; width: 100%">
                                          <tr>
                                              <th class="text-center" width="110">
                                                 <p style="font-size: 11px; padding: 5px">Requested by<br>
                                                    <span style="font-size: 8px; margin-top:">(Name and Signature)</span>
                                                 </p>
                                              </th>
                                              <td class="text-center" id="collpase-td">
                                                <label id="requested-by" style="font-size: 10px">-</label> 
                                                (<span id="requested-by-position" style="font-size: 10px"></span>)
                                              </td>
                                              <th class="text-center" width="110">
                                                  <p style="font-size: 11px; padding: 5px">Issued by<br>
                                                     <span style="font-size: 8px; margin-top:">(Name and Signature)</span>
                                                  </p>
                                              </th>
                                              <td class="text-center">
                                                  <label style="font-size: 10px" id="issued-by">
                                                        
                                                  </label> (
                                                  <span style="font-size: 10px" id="issued-by-position">
                                                     
                                                  </span>)
                                              </td>
                                          </tr>
                                       
                                        </table>
                                        
                                        <div id="slip-footer"></div>

                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="btnPrintWithdrawSlip"><span class="glyphicon glyphicon-print"></span> Print</button>
                                        </div>
                                    </div>
                                   
                                </div>
                                
                            </div>