                            <div class="modal fade" id="modalReceivableTools" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" id="div-modalReceiveableTools">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Receiving items</h4>
                                        </div>
                                        <div class="modal-body" style="font-size: 13px">
                                             <table class="table table-striped">
                                                 <thead>
                                                     <tr>
                                                         <th style="text-align: center">Qty</th>
                                                         <th style="text-align: center">Unit</th>
                                                         <th style="text-align: center">Model</th>
                                                         <th style="text-align: center">Tool Id</th>
                                                         <th width="1"></th>
                                                     </tr>
                                                 </thead>
                                                 <tbody id="list-of-receive-transfered-tools" style="cursor: pointer"></tbody>
                                             </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                           <!--  <button id="btnReceiveTool" class="btn btn-primary">Receive &nbsp;&nbsp;&nbsp;<i class=""></i></button>  -->
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>