                             
                                      
                                                      <div class="col-lg-12" style="margin: 15px 0 0 -25px;">
                                                          <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                <h4>Receive transferred tools</h4>
                                                              </div>
                                                              <div class="panel-body">


                                                                  


                                                              </div>
                                                              <div style="margin-top: 20px; font-size: 12px" class="">
                                                            
                                                                        <table class="table table-hover table-striped table-bordered">

                                                                             <thead>
                                                                                  <tr>
                                                                                     <th>Date received</th>
                                                                                     <th style="text-align: center">From</th>
                                                                                     <th style="text-align: center">Sender</th>
                                                                                     <th style="text-align: center">Recipient</th>
                                                                                     <th style="text-align: center">Noter</th>
                                                                                     <th style="text-align: center">received</th>
                                                                                     <th style="text-align: center">pending</th>
                                                                                     <th style="text-align: center">total items</th>
                                                                                     <th width="120"></th>
                                                                                 </tr>
                                                                             </thead>
                                                 
                                                                             <tbody id="list-of-receiving-transfer-forms"></tbody>

                                                                        </table>
                                                                   </div>  
                                                          </div>
                                                      </div>


                                        <div id="panel-receivable"></div>   
                          