                            <div class="modal fade" id="modalReturnedTools" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                                <div class="modal-dialog" id="div-modalReturnedTools">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel" id="borrowed-tool-title">Borrowed tools</h4>
                                        </div>
                                       
                                       <div class="modal-footer">
                                            <table class="table table-hover" style="font-size: 12px">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center">Tool id</th>
                                                        <th style="text-align: center">Qty</th>
                                                        <th style="text-align: center">Unit</th>
                                                        <th style="text-align: center">Model</th>
                                                        <th width="1">status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="list-of-return-tools"></tbody>
                                            </table>
                                       </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>