<br/><div class="table-responsive" style="font-size: 12px">

    <div class="input-group pull-right" style="width: 250px; margin-top: -60px; margin-bottom: 10px">
        <input type="text" id="search" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
        </span>
    </div>

     <table class="table table-hover table-bordered">
           <thead>
               <tr>
                    <th width="1"></th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Warehouseman</th>
                    <th>Location</th>
               </tr>
           </thead>
           <tbody id="list-of-decommission-forms"></tbody>
     </table>
</div>