                            <div class="modal fade" id="modalDecommissionTool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <form id="form-decommission-tools">
                                    <div class="modal-dialog" id="div-modalDecommissionTool">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                               <h4 class="modal-title" id="myModalLabel">Decommission Form</h4>
                                           </div>
                                           <div class="modal-body">
                                              <label>Reason:
                                                  <input type="text" name="reason" class="form-control" id="reason">
                                              </label>
                                              <label>Date:
                                                  <input type="text" class="form-control" id="date" readonly>
                                              </label>
                                           </div>
                                           <div class="modal-footer">
                                               <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                                               <button type="submit" class="btn btn-primary">Save changes</button>
                                           </div>
                                       </div>
                                    <!-- /.modal-content -->
                                    </div>
                               </form> 
                                <!-- /.modal-dialog -->
                            </div>