                            <div class="modal fade" id="modalAddNewWarehouseMen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <form id="form-add-warehousemen">
                                <div class="modal-dialog" id="div-modalAddNewWarehouseMen">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title text-info" id="myModalLabel">Create Warehousmen</h4>
                                        </div>
                                        <div class="modal-body">
                                             <form id="form-add-warehousemen">
                                                   <input type="hidden" name="code" id="code" value="">
                                             <label>Firstname
                                                   <input type="text" name="firstname" id="firstname" class="form-control">
                                             </label>
                                             <label>Lastname
                                                   <input type="text" name="lastname" id="lastname" class="form-control">
                                             </label>
                                             <label>Username
                                                   <input type="text" name="username" id="username" class="form-control">
                                             </label>
                                             <label>Password
                                                   <input type="text" name="password" id="password" class="form-control">
                                             </label>
                                             <label>Confirm
                                                   <input type="text" name="confirm" id="confirm" class="form-control">
                                             </label>
                                             <label>Gmail
                                                   <input type="text" name="email" id="email" class="form-control">
                                             </label>
                                             </form>
                                        </div>
                                        <div class="modal-footer">
                                            <div id="output-save-warehousemen" style="position: absolute"></div>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="btnSaveWarehousemen">Save changes</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                </form>
                                <!-- /.modal-dialog -->
                            </div>