                           <form id="form-create-warehouse-branch" style="margin-left: 18px; font-size: 12px">
                            <label>
                              <!--   Code -->
                                <input type="text" name="code" id="code" class="form-control" placeholder="Code" style="font-size: 12px" autofocus>
                            </label>
                            <label>
                              <!--   Location -->
                                <input type="text" name="location" id="location" class="form-control" placeholder="Warehouse location" style="font-size: 12px" autofocus>
                            </label>
                            <label>
                              <!--   Location -->
                                <input type="text" name="receipt_loc" id="receipt-loc" class="form-control" placeholder="Receipt Location" style="font-size: 12px" autofocus>
                            </label>
                                <button class="btn btn-primary btn-sm" id="btnSaveWHB">Save</button>
                                <div id="output-save-warehouse-branch" style="width: 500px; display: ingerit"></div>
                            </form>
