
                            <!-- Modal -->
                            <div class="modal fade" id="modalBorroweItemInputQty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" id="div-modalBorroweItemInputQty" style="width: 370px; padding: 10px; margin-top: 140px">

                                  <form id="form-borrow-input-item">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Borrow item</h4>
                                        </div>

                                        <div class="modal-body">

                                                  <input type="hidden" name="hidden_id" id="hidden-id" value="<%= model.id %>">

                                                  <label>
                                                       Qty: <input type="number" name="qty" id="qty" class="form-control" placeholder="Enter quantity">
                                                  </label ><br/>

                                                  <label>
                                                       Remarks: <input type="text" name="remarks" id="remarks" class="form-control" placeholder="Enter Remarks">
                                                  </label>
                                                  
                                              <div class=""><h5>Item details</h5>
                                                  <table class="table table-hover">
                                                      <tr width="70">
                                                          <th>Name</th>
                                                          <td id="name"><%= model.name %></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Running Bal</th>
                                                          <td id="running_bal"><%= model.running_bal %></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Area</th>
                                                          <td id="area"><%= model.area %></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Row</th>
                                                          <td id="row"><%= model.row %></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Shelf</th>
                                                          <td id="shelf"><%= model.shelf %></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Unit</th>
                                                          <td id="unit"><%= model.unit %></td>
                                                      </tr>
                                                  </table>
                                               </div>
                                              
                                              
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <div id="output-update-product" style=""></div>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnSubmitBorrowerItem" class="btn btn-primary">Save changes</button>
                                        </div>

                                        </form> 
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                       